
<div class="col-sm-2 col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
        <h3><%= product.name %></h3><%= image_tag(product.image_url, class: "img-responsive caption center-block") %>
        <h3><%= product.price %></h3>
        <h3><%= product.colour %></h3>
        <p><%"product_description"%></p>
         
        <div class="links">
          <%= link_to 'Show', product%>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
          <div>
              <%= link_to 'Product Details', product%>
            </div>
        
      
    </div>
  </div>
</div>


